.main_header{
    width: 100%;
    background-color: #2D3142;
}

.main_header .main_header_content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.main_header .main_header_content .logo{
    flex-basis: 330px;
    padding: 20px;
    width: 290px;
}

.main_header .main_header_content .main_header_content_menu{
    flex-basis: calc(100% - 330px);
    display: flex;
    justify-content: flex-end;
}

.main_header_content_menu ul{
    display: flex;
    align-items: stretch;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main_header_content_menu ul li a{
    padding: 0 26px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #D36833;
}

.main_header_content_menu ul li a:hover{
    color: #FFF;
    background-color: #D36833;
}


/* MAIN_BLOG */

.main_blog{
    max-width: calc(1300px - 40px);
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_blog .main_blog_header{
    flex-basis: 100%;
    margin: 30px 0;
}

.main_blog .main_blog_header h1{
    color: #333;
    margin-bottom: 5px;
    font-size: 1.8em;
}

.main_blog article{
    opacity: 0.7;
    flex-basis: calc(25% - 20px);
    margin-bottom: 30px;
}

.main_blog article:hover{
    opacity: 1;
}

.main_blog article img{
    /*width: 100%;*/
}

.main_blog article p{
    margin: 10px 0; 
}

.main_blog article .category{
    font-size: 0.875em;
    color: #D36833;
}

.main_blog article h2{
    font-weight: 300;
    font-size: 1.2em;
}

.main_blog article h2 a{
    color: #333;
    font-weight: 300;
}

.main_optin_footer{
    width: 100%;
    background-color: #F7F7F7;
}

.main_optin_footer_content{
    max-width: 1300px;
    padding: 40px 20px;
    text-align: center;
    color: #333;
}

.main_optin_footer_content h1{
    font-size: 1.4em;
    margin-bottom: 40px;
}

.main_optin_footer_content .btn{
    color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #D36833;
    font-size: 1.2em;
    padding: 10px 20px;
}

.main_footer{
    max-width: 1300px;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    color: #FFF;
    background-color: #E64C3C;
}

.main_footer > header {
    flex-basis: 100%;
}

.main_footer > header h1{
    font-size: 1.4em;
    margin-bottom: 40px;
}

.main_footer_our_pages, .main_footer_links{
    flex-basis: 25%;
}

.main_footer_about{
    flex-basis: 50%;
}

.main_footer > article h2{
    margin-bottom: 20px;
}

.main_footer > article ul li{
    list-style: none;
    margin: 5px 0;
}

.main_footer > article ul li a{
    color: #FFF;
}

.main_footer > article ul li a:hover{
    text-decoration: underline;
}

.main_footer_rights{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #F7F7F7;
    border-top: 1px solid #EBEBEB;
    font-size: 0.9em;
    color: #666;
    font-weight: 300;
}

.main_header_content_menu_mobile{
    flex-basis: calc(100% - 330px);
    display: none;
    justify-content: flex-end;
}

.main_header_content_menu_mobile ul {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main_header_content_menu_mobile ul li{
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}

.main_header_content_menu_mobile_obj{
    display: flex;
    align-items: center;
    padding: 20px;
    color: #D36833;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

.main_header_content_menu_mobile_obj:hover, .main_header_content_menu_mobile_obj_active{
    background-color: #FFF;
}

.main_header_content_menu_mobile_sub{
    min-width: 200px;
    background-color: #FFF;
    border-radius: 4px 0 4px 4px;
    -moz-border-radius: 4px 0 4px 4px;
    -webkit-border-radius: 4px 0 4px 4px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    right: -20px;
}

.main_header_content_menu_mobile_sub > li{
    flex-basis: 100%;
}

.main_header_content_menu_mobile_sub > li a {
    width: 100%;
    text-align: center;
    color: #D36833;
    padding: 10px 0;
}

.main_header_content_menu_mobile_sub > li a:hover{
    background-color: #D36833;
    color: #FFF;
}

/* 1024px */
@media (max-width: 64em){
    .main_cta .main_cta_content h1{
        font-size: 2.5em;
    }
    
    .main_cta .main_cta_content .main_cta_content_spacer{
        padding: 100px 30px;
    }
    
    .main_optin_content{
        flex-wrap: wrap;
    }
    
    .main_optin_content header, .main_optin_content form{
        flex-basis: 100%;
        margin: 0 auto;
    }
    
    .main_optin_content header{
        margin-bottom: 20px;
    }
    
    .main_optin_content header h1, .main_optin_content header p{
        text-align: center;
    }
    
    .main_optin_content form input[type=text], .main_optin_content form input[type=email]{
        padding: 6px 12px;
    }
    
    .main_school_content_left{
        flex-basis: 100%;
    }
    
    .main_school_content_right{
        flex-basis: 200px;
        max-width: 200px;
        padding: 20px;
    }
    
    .main_school_address{
        flex-basis: calc(100% - 200px);
        margin: auto;
    }
}

/* 768px */
@media (max-width: 48em){
    .main_header_content_menu{
        display: none !important;
    }
    
    .main_header_content_menu_mobile{
        display: flex;
    }
    
    .main_cta .main_cta_content h1{
        font-size: 2em;
    }
    
    .main_cta .main_cta_content .main_cta_content_spacer{
        padding: 60px 30px;
    }
    
    .main_cta .main_cta_content .btn{
        font-size: 0.5em;
    }
    
    .main_blog article{
        flex-basis: calc(33% - 10px);
    }
    
    .main_course_rating_content_title h2{
        font-size: 2em;
    }
    
    .main_school_list > article{
        flex-basis: 100%;
        margin: 10px 0;
        font-size: 0.9em;
        line-height: 2em;
    }
    
    .main_tutor_social_network h2{
        margin-bottom: 20px;
    }
    
    .main_tutor_social_network{
        max-width: 80%;
    }
    
    .main_tutor_social_network > article{
        flex-basis: 49%;
        margin-bottom: 20px;
    }
    
    .main_footer_our_pages, .main_footer_links{
        flex-basis: calc(50% - 10px);
    }
    
    .main_footer_about{
        flex-basis: 100%;
        margin-top: 20px;
    }
}

/* 640px */
@media (max-width: 40em){
    .main_blog article{
        flex-basis: calc(50% - 10px);
    }
    
    .main_optin_content form{
        flex-wrap: wrap;
    }
    
    .main_optin_content form input[type=text], .main_optin_content form input[type=email]{
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    
    .main_optin_content form button{
        margin: 0 auto;
        padding: 6px 12px;
    }
    
    .main_course_rating_content_title h2{
        font-size: 1.6em;
    }
    
    .main_course_rating_content_comment > header{
        font-size: 1.2em;
    }
    
    .main_course_rating_content_comment > article{
        flex-basis: 100%;
    }
}

/* 580px */
@media (max-width: 36em){
    .main_tutor_social_network > article{
        flex-basis: 100%;
    }
}

/* 520px */
@media (max-width: 32em){
    .main_school_content_right{
        display: none;
    }
    
    .main_school_address{
        flex-basis: 100%;
    }
}

/* 480px */
@media (max-width: 30em){
    .main_header .main_header_content .logo{
        flex-basis: 220px !important
    }
    
    .main_header .main_header_content .logo img{
        width: 100% !important;
    }
    
    .main_header_content_menu_mobile{
        flex-basis: calc(100% - 220px) !important;
    }
    
    .main_blog article{
        flex-basis: 100%;
    }
    
    .main_course_content article{
        flex-basis: calc(100% - 40px);
        margin: 10px 0;
    }
}

.window{
    display: none;
    width: 400px;
    height: 600px;
    position: absolute;
    background: #FFF ;
    left: 0;
    top:0;
    z-index: 9900;
    padding: 10px;
    border-radius: 4px;
}

.content_choose_pizza{
    padding: 0 20px;
}
.img_choose_pizza{
    flex: 1;
    width: 100%;
    text-align: center;
}
.title_choose_pizza{
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}
.item_pizza_ingridients{
    flex:1;
    font-size: 14px;
    width: 100%;
    margin-top: 5px;
    border-radius: 4px;
    background-color: #d5d5d5;
    padding: 4px 10px;
}

.item_pizza_ingridient_active{
    background-color: #00C000;
}

.item_pizza_ingridient_name{
    text-align: left;
}

.item_pizza_ingridient_price{

}

.item_pizza_ingridient_status{
    width: 10% !important;
    padding-right: 10px;
    float: right;
    cursor: pointer;
    font-weight: bolder;
}

.total_order_pizza{
    font-size: 14px;
    font-weight: bolder;
    text-align: right;
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
    background-color: mintcream;
    padding: 4px 10px;
}

#backgroundModal{
    display: none;
    position: absolute;
    background: #000 ;
    left: 0;
    top:0;
    z-index: 9000;
}

.close{
    display: block;
    text-align: right;
    margin-top: 10px;
    color: #8d291f;
    font-weight: bolder;
}