body{
    background-color: #D9E0E7;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow: hidden;
    background: #1a2229;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.page_content_header{
    display: flex;
    flex-wrap: nowrap;
    background: #fff;
    padding: 20px;
    border-bottom: solid 1px #D9E0E7;
    justify-content: space-between;
}

.page_content_dashboard{
    padding: 20px;
}

.dashboard_border_top{
    border-top: solid 1px #D9E0E7;
}
.dashboard_border_bottom{
    border-bottom: solid 1px #D9E0E7;
}

.dashboard_panel{
    padding: 15px;
}

.dashboard_panel > h1 > .fa{margin-right: 10px !important;}

.dashboard_row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 10px;
}

.sidebar-nav .fa{
    margin-right: 10px;
    line-height: 35px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #A8ACB1;
    font-size: 0.9em;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #66aff2;
}

.sidebar-nav .active a{
    background-color: #348fe2;
    color: #fff !important;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-brand {
    padding: 18px;
    background-color: #ffffff;
}

.sidebar-nav>.sidebar-brand {
    text-align: center;
    height: 66px;
    font-size: 18px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/* FORMS*/
.content_form{
    padding: 20px;
}

.standard_form{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
}

.standard_form .label-1{flex-basis: 100%;}
.standard_form .label-2{flex-basis: 49%;}
.standard_form .label-3{flex-basis: 31%;}
.standard_form .label-4{flex-basis: 22%;}
.standard_form .label-7{flex-basis: 67%;}
.standard_form .label-6{flex-basis: 75%;}

.standard_form_title{
    border-top: solid 1px #D9E0E7;
    border-bottom: solid 1px #D9E0E7;
    font-size: 1.6em;
    font-weight: 600;
    background-color: #f4f6f9;
    padding: 20px;
}

.enderecocreate, .servicocreate{
    display: none;
}

.standard_form_title .btn-toggle-form-add{
    background: #E93D46;
    color:#fff;
    font-size: 0.55em !important;
    font-weight: 400;
    padding: 4px 8px;
}
.standard_form_title .btn-toggle-form-add:before{
    font-family: FontAwesome;
    content: "\f00c";
}
.standard_form_title .btn-toggle-form-add.close{
    background: #cc7979;
}
.standard_form_title .btn-toggle-form-add.close:before{
    font-family: FontAwesome;
    content: "\f00d";
}

.standard_form label span{
    font-size: 0.9em;
    font-weight: 300;
    display: block;
    margin: 0 0 10px 5px;
}

.standard_form .btn-search-dashboard{
    margin-top: 24px !important;
}
.standard_form .btn-toggle-form-create{
    margin-top: -25px !important;
}


.standard_form label input, input, textarea, select{
    font-family: "Open sans";
    font-size: 0.8em;
    font-weight: 300;
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: thin solid #ccc;
    background-color: #f4f6f9;
}

.standard_form select{
    padding: 10px;
}

.dashboard_form_search{
    padding: 15px 15px 0px 15px;
    font-size: 0.9em;
}

/*PAGINATOR*/
.paginator{padding: 5px; background: #fff; text-align: center; margin: 15px 0 15px 0;}
.paginator li{display: inline;}
.paginator a, .paginator span{margin: 0 5px; padding: 5px 10px; font-size: 0.8em; color: #333; font-weight: 300; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; box-shadow: 0 2px 2px rgba(217,224,231, 0.5)}
.paginator a:hover{background: #e74c3c; color: #fff; }
/*.paginator .active{background: #348fe2; color: #fff; box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);}*/
.paginator .active{background: #c0392b; color: #fff;}

/*LIST*/
/*Listagens*/
.dashboard_rows{
    padding: 15px 0px 15px 0px;
    font-size: 0.9em;
}

.dashboard_list{
    padding-top: 0px !important;
}

.dashboard_actions{
    padding: 10px 10px 0px 10px;
    margin-bottom: -5px !important;
}

.dashboard_rows_header{
    font-weight: 600;
    padding: 16px 0px 16px 0px;
    background-color: #f4f6f9;
}

.dashboard_rows_item{
    border-bottom: dotted 1px  #D9E0E7;
    cursor: pointer;
}

.dashboard_rows_item:hover{
    background: #f4f6f9;
}

.dashboard_rows_item_atraso{
    background-color: #D73C2C;
    color: #fff;
}
.dashboard_rows_item_atraso:hover{
    background-color: #F75C4C;
}

.dashboard_rows_item_cancel{
    background-color: #FF926B;
    color: #fff;
}
.dashboard_rows_item_cancel:hover{
    background-color: #E3724B;
    color: #fff;
}
.dashboard_rows_item_pago{
    background-color: #2ECC71;
    color: #fff;
}
.dashboard_rows_item_pago:hover{
    background-color: #8EFFC1;
    color: #106B60;
}

.dashboard_rows_item, .dashboard_rows_header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.dashboard_rows_item .cell{
    padding: 16px 0 10px 0;
}
.dashboard_rows_item .cell_receber, .dashboard_rows_item .cell_remessa{
    padding: 16px 0 10px 0;
    font-size: 0.8em;
}

/*DASHBOARD RECEBER LIST*/
.dashboard_rows_item .list_id, .dashboard_rows_header .list_id{ flex-basis: 18%;}
.dashboard_rows_item .list_data, .dashboard_rows_header .list_data{ flex-basis: 14%;}
.dashboard_rows_item .list_desc_sm, .dashboard_rows_header .list_desc_sm{ flex-basis: 34%;}
.dashboard_rows_item .list_desc, .dashboard_rows_header .list_desc{ flex-basis: 62%;}
.dashboard_rows_item .list_full, .dashboard_rows_header .list_full{ flex-basis: 100%;}
.dashboard_rows_item .list_actions, .dashboard_rows_header .list_actions{ flex-basis: 20%;}

.dashboard_rows_item .list_id_receber, .dashboard_rows_header .list_id_receber{ flex-basis: 8%;}
.dashboard_rows_item .list_desc_receber, .dashboard_rows_header .list_desc_receber{ flex-basis: 21%;}
.dashboard_rows_item .list_conta_servico_status_receber, .dashboard_rows_item .list_remessa_receber, .dashboard_rows_header .list_conta_servico_status_receber{ flex-basis: 7%;}
.dashboard_rows_item .list_data_valor_receber, .dashboard_rows_header .list_data_valor_receber{ flex-basis: 8%;}
.dashboard_rows_item .list_actions, .dashboard_rows_header .list_actions{ flex-basis: 14%;}

/*DASHBOARD REMESSA LIST*/
.dashboard_rows_header .list_id_remessa, .dashboard_rows_header .list_boleto_remessa, 
.dashboard_rows_header .list_valor_remessa, .dashboard_rows_header .list_servico_remessa, .dashboard_rows_header .list_data_remessa { flex-basis: 10%;}
.dashboard_rows_header .list_desc_remessa { flex-basis: 50%;}
.dashboard_rows_item .list_id_remessa, .dashboard_rows_item .list_boleto_remessa, 
.dashboard_rows_item .list_valor_remessa, .dashboard_rows_item .list_servico_remessa , .dashboard_rows_item .list_data_remessa{ flex-basis: 10%;}
.dashboard_rows_item .list_desc_remessa { flex-basis: 50%;}

.dashboard_rows .dashboard_report{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 96%;
    margin: 0 auto;
}

.dashboard_rows .dashboard_report a{
    flex-basis: 20%;
    margin: 10px;
}
.list_data img, .list_conta_servico_receber img, .list_servico_remessa img{

}

.conta_servico_img{
    display: block;
    width: 30px;
}

.list_desc_detail{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}
.list_desc_detail p, .list_desc_detail p:last-child{
    flex-basis: 49%;
    background: #C5D3E2;
    font-size: 0.7em;
    font-weight: 300;
    margin-bottom: 0px !important;
    padding: 4px 6px;
    margin: 5px 0;
}

.name_list_ingridient{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.name_list_ingridient_item{
    flex-basis: 100%;
    cursor: pointer;
    justify-content: space-between;
    background: #ECF0F1;
    padding: 2px 4px;
    margin-bottom: 5px;
}

.name_list_ingridient_item_active{
    background: #8cca83 !important;
    font-weight: bold !important;
}

.name_list_ingridient_item:hover{
    background: #C5D3E2;
}

.name_list_ingridient_item a{
    float: right;
    margin-top: -4px;
}

.name_ingridient{
    font-size: 0.8em;
    font-weight: 400;
    margin-bottom: 0px !important;
    padding: 8px 4px;
}

.dashboard_retorno_response{
    padding: 10px;
}

.dashboard_retorno_response_print{}
.dashboard_retorno_response_print h3{ margin-bottom: 15px !important;}
.dashboard_retorno_response a{ margin: 10px 10px 0 0 !important;}

/*DASHBOARD WIDGET*/
.dashboard_widget{
    display: flex;
    padding: 10px;
}
.dashboard_widget_icon{
    flex-basis: 40%;
    font-size: 2.8em;
    font-weight: 600;
    text-align: center;
}
.dashboard_widget_content{
    flex-basis: 60%;
    font-size: 0.8em;
    font-weight: 300;
}
.dashboard_widget_content h2{
    font-size: 1.1em;
    font-weight: 600;
    margin: 10px 0px 5px 0px;
}

/*ENDERECO LIST*/
.list_endereco_content{ overflow: hidden;}
.list_endereco_content_item{ display: flex; align-items: flex-start;  margin-bottom: 20px;}
.list_endereco_content_box{
    flex-basis: calc(92% - 10px);
    margin-right: 20px;
    padding: 10px;
    background-color: #F4F6F9;
    border-left: 3px solid #E5E8EC;
}

.list_endereco_content_box .title{font-size: 1.2em; font-weight: 700; margin-bottom: 10px;}
.list_endereco_content_box .desc{font-size: 0.9em; margin-bottom: 5px;}
.list_endereco_content_actions{flex-basis: 8%; text-align: center;}
.list_endereco_content_actions a{margin: 0px 5px 0px 5px;}

/*SERVICOS LIST*/

.list_servico_content{overflow: hidden;}
.list_servico_content_item{ display: flex; align-items: flex-start;  margin-bottom: 20px;}
.list_servico_content_box{
    flex-basis: calc(92% - 10px);
    margin-right: 20px;
    padding: 10px;
    background-color: #F4F6F9;
    border-left: 3px solid #E5E8EC;
}

.list_servico_content_box .title{font-size: 1.2em; font-weight: 700; margin-bottom: 10px;}
.list_servico_content_box .desc{font-size: 0.9em; margin-bottom: 5px;}
.list_servico_content_actions{flex-basis: 8%; text-align: center;}
.list_servico_content_actions a{margin: 0px 5px 0px 5px;}

.list_ingridients_pizza{
    flex-basis: 49%;
    padding: 10px;
    background-color: #fff;
    border-left: 3px solid #E5E8EC;
    border-top: thin solid #E5E8EC;
    border-bottom: thin solid #E5E8EC;
    border-right: thin solid #E5E8EC;
    margin-bottom: 20px;
}

/*LIST VARIACAO NOMES*/

.list_variacao_content{overflow: hidden;}
.list_variacao_content_item{ display: flex; align-items: flex-start;  margin-bottom: 20px;}
.list_variacao_content_box{
    flex-basis: calc(92% - 10px);
    margin-right: 20px;
    padding: 10px;
    background-color: #F4F6F9;
    border-left: 3px solid #E5E8EC;
}

.list_variacao_content_box .title{font-size: 1.2em; font-weight: 700; margin-bottom: 10px;}
.list_variacao_content_box .desc{font-size: 0.9em; margin-bottom: 5px;}
.list_variacao_content_actions{flex-basis: 8%; text-align: center;}
.list_variacao_content_actions a{margin: 0px 5px 0px 5px;}

.list_servico_email_cel{
    flex-basis: 49%;
    padding: 10px;
    background-color: #fff;
    border-left: 3px solid #E5E8EC;
    border-top: thin solid #E5E8EC;
    border-bottom: thin solid #E5E8EC;
    border-right: thin solid #E5E8EC;
    margin-bottom: 20px;
}

.detail_publicacao_content{
    padding: 15px 15px 20px 15px;
    width: 100%;
}

.detail_publicacao_item{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-between;
}

.detail_publicacao_pub_header, .detail_publicacao_actions_header{
    padding: 15px;
    border-bottom: solid 1px #D9E0E7;
}

.detail_publicacao_pub_header h2{
    font-size: 1em;
    font-weight: 800;
}

.detail_publicacao_pub{
    flex-basis: 75%
}

.detail_publicacao_pub .detail_publicacao_pub_body{
    padding: 15px;
}

.detail_publicacao_actions_header h2{
    font-size: 1em;
    font-weight: 800;
}

.detail_publicacao_actions{
    flex-basis: calc(25% - 20px);
}

.detail_publicacao_actions_footer{
    padding: 15px;
    border-top: solid 1px #D9E0E7;
}

.detail_publicacao_actions_body{
    padding: 15px
}

.detail_publicacao_actions_body .detail_publicacao_action_btn{
    width: 100%;
    background-color: #ffffff;
    font-size: 0.9em;
    padding: 10px 10px 10px 8px;
    text-align: left;
    border: none;
}

.detail_publicacao_description{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    border-bottom: solid 1px #E5E8EC;
}

.detail_publicacao_description h2{
    flex-basis: 30%;
    font-size: 0.8em;
    font-weight: 300;
    text-align: left;
    margin-right: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.detail_publicacao_description p{
    flex-basis: calc(70% - 20px);
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 20px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
